<div class="span12">
  <header class="page-header">
    <h2>Users</h2>
  </header>


  <table class="table table-hover table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% User.all.each do |user| %>
      <tr>

      <td><%= user.email %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
